secrets.yaml
*.xml
*.sqlite
.storage/
OZW_Log.txt
harmony_harmony_hub.conf
known_devices.yaml
skybell_cache.pickle
.shopping_list.json
image/
tts/
.cloud/


*.pid
*.csr
*.crt
*.key
*.conf
*.db-journal
*.log
*.db
*.txt
*.deb
*.sh
*.pickle
*.db-shm
*.db-wal

# Folders
www
lib
deps
tts
test
conf
apps
tensorflow
docker/streamer